html {
  padding: 0;
  margin: 0;

  background-color: whitesmoke;

  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.page-heading {
  width: 100%;
  height: auto;

  font-size: 4em;
  font-weight: 500;
  text-align: center;

  margin: 0;
  padding-top: 2%;
  padding-bottom: 2%;

  background-color: #ea5169;

  box-shadow: 1px 1px 15px;
}

.main-container {
  width: 80%;
  height: auto;

  margin: 0 auto;
}

.grid-container {
  width: fit-content;
  height: fit-content;

  margin: 0 auto;

  margin-top: 7%;
  margin-bottom: 7%;

  display: grid;

  grid-template: 300px / repeat(3, 300px);
  grid-gap: 7%;
}

.section {
  height: auto;
  width: auto;

  padding: 0;
  margin: 0;
}

.section-heading {
  width: fit-content;
  height: auto;

  padding: 1% 0%;
  margin: 5% 0%;

  border-bottom: 3px solid #ea5169;

  font-size: 2.5em;
}

.section-body {
  width: 90%;
  height: auto;

  font-size: 1.25em;

  padding:0;
  margin:0 auto;
}

.watermelon-list {
  font-size: 1.25em;

  text-align: center;

  list-style: none;
}

.watermelon-list li {
  padding-top: 1%;
  padding-bottom: 1%;
}

.footer {
  width:100%;
  height: auto;

  padding-top: 1%;
  padding-bottom: 1%;

  position: relative;

  bottom: 0px;
  left: 0px;

  background-color: #ea5169;

  text-align: center;

  box-shadow: 1px 1px 15px grey;
}
