html {
  padding: 0;
  margin: 0;

  background-color: whitesmoke;

  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.page-header {
  width: 100%;
  height: auto;

  margin: 0;
  padding-top: 2%;
  padding-bottom: 2%;

  background-color: #ea5169;
}

.grid-container {
  width: fit-content;
  height: fit-content;

  margin: 0 auto;

  display: grid;

  grid-template: 325px / repeat(3, 325px);
  grid-gap: 7%;
}

.footer {
  width:100%;
  height: auto;

  padding-top: 1%;
  padding-bottom: 1%;

  position: relative;

  bottom: 0px;
  left: 0px;

  background-color: #ea5169;

  text-align: center;
}
